websrc/templates/blender_fund/landing.pug
| {% extends "blender_fund/layout.html" %}
| {% load membership_tags %}
| {% load looper %}
| {% load static %}
| {% load wagtailcore_tags %}
| {% load wagtailimages_tags %}
| {% load wagtailuserbar %}
| {% block page_header %}
| {% image page.header_image max-1920x1080 as header_image %}

.featured.nav-hidden(style='background-image: url({{ header_image.url }})')
	.container
		.featured-content
			h1 {{ page.title }}

			| {% if page.tagline %}
			.featured-subtitle
				p {{ page.tagline }}
			| {% endif %}

| {% block nav_secondary %}
| {% include "blender_fund/_navbar_secondary.html" %}
| {% endblock nav_secondary %}

| {% block navbar_tertiary %}{% endblock navbar_tertiary %}
| {% endblock page_header %}

| {% block content %}

.stats-container
	.stats-content
		.stats-intro
			span Join the Development Fund and support
			span  Blender Foundation to work on
			span  #[a(href="{% slugurl 'about' %}") core Blender development].

		.stats-items
			.stats-item.stats-pos-top
				.stats-sum
					span.currency-symbol {{ summed_income.currency_symbol }}
					span.js-count {{ summed_income.just_whole }}
				h5.stats-sum-name
					| MONTHLY INCOME

			.stats-item.stats-pos-middle.stats-size-small
				.stats-sum.js-count {{ memberships_per_category.INDIV }}
				h5.stats-sum-name
					| INDIVIDUALS

			.stats-item.stats-pos-bottom.stats-size-small
				.stats-sum.js-count {{ memberships_per_category.CORP }}
				h5.stats-sum-name
					| CORPORATE

| {% if settings.SHOW_THERMOMETER %}
| {% with progress_corporate=thermo_percentages.CORP progress_individual=thermo_percentages.INDIV %}
.container
	.position-relative.py-5
		.progress-container.pt-5
			.progress-label.current(
				style="left: {{ thermo_total_percentage }}%",
				title="Current Income")
				.d-flex
					span.d-block.d-md-none
						strong Current Income
					| {{ summed_income.with_currency_symbol_rounded }} / month

		.progress.bg-white.position-relative
			//- Progress values in percentage.
			.progress-bar.bg-corporate(
				title="{{ memberships_per_category.CORP }} corporate members account for {{ progress_corporate }}% progress toward our Final Milestone",
				role="progressbar", style="width: {{ progress_corporate }}%", aria-valuenow="{{ progress_corporate }}", aria-valuemin="0", aria-valuemax="100")
			.progress-bar.bg-individual(
				title="{{ memberships_per_category.INDIV }} individual members account for {{ progress_individual }}% progress toward our Final Milestone",
				role="progressbar" style="width: {{ progress_individual }}%" aria-valuenow="{{ progress_individual }}" aria-valuemin="0" aria-valuemax="100")

		.progress-container
			.d-flex.align-items-center.justify-content-between.mb-5
				.d-flex.justify-items-start
					small.d-flex.align-items-center
						.rounded-circle.mr-2.bg-corporate.progress-legend
						span Corporate

					small.d-flex.align-items-center.p-3
						.rounded-circle.mr-2.bg-individual.progress-legend
						span Individual

				small.d-none.d-sm-block
					span Read more about the #[a(href="{% slugurl 'about' %}") campaign and our goals].

			.progress-label.final.ml-auto(title="Final Milestone")
				| #[strong {{settings.FUND_INCOME_TARGET_LABEL}}] #[span {{currency_symbol}}&nbsp;{{thermo_high}}k / month]


		.container.text-center.campaign-message
			.row
				.col-md-8.mx-auto
					p.
						Join {{ memberships_total_count }} people &amp; companies
						in the Development Fund and support #[br]
						Blender Foundation to work on #[a(href="{% slugurl 'about' %}") core Blender development].
| {% endwith %}
| {% endif %}

mixin checkmark
	.checkmark
		svg(xmlns='http://www.w3.org/2000/svg', height='22', width='22')
			path( d='M 11,22 A 11,11 0 1 1 11,0 11,11 0 0 1 11,22 Z M 15.565,7.2421249 9.1217509,13.22475 6.6371255,10.790999 A 1.3753512,1.3753512 0 1 0 4.7121258,12.755875 L 8.1345014,16.10675 A 1.375,1.375 0 0 0 10.032,16.13287 l 7.403,-6.874999 a 1.375,1.375 0 1 0 -1.87,-2.0157509 z')

#join.levels.js-fade
	.levels-background

	.container.pb-5
		h2.mt-5.pt-5 Choose Your Membership

		ul.l-table
			li.l-table-header
				.l-table-cell.m-level
					span LEVEL

				.l-table-cell(
					data-toggle="popover",
					data-placement="top",
					data-trigger="hover",
					data-content='Show your badge in any Blender ID website, such as Blender Cloud, Blender Network, Blender Community.')
					span
						span.l-name BADGE
						i.fa.fa-question-circle

				.l-table-cell(
					data-toggle="popover",
					data-placement="top",
					data-trigger="hover",
					data-content="Display your (or your company) name.")
					span
						span.l-name NAME
						i.fa.fa-question-circle

				.l-table-cell(
					data-toggle="popover",
					data-placement="top",
					data-trigger="hover",
					data-content="Link your display name to a URL.")
					span
						span.l-name LINK
						i.fa.fa-question-circle

				.l-table-cell(
					data-toggle="popover",
					data-placement="top",
					data-trigger="hover",
					data-content="Display a logo.")
					span
						span.l-name LOGO
						i.fa.fa-question-circle

			| {% for m, plan_variation in membership_levels %}
			| {% with perks=m.visible_attributes_set %}
			li
				a.l-table-row(
					href="{% url 'looper:checkout_new' m.plan.id %}",
					title="Choose {{ m.name }} membership",
					class="id-{{ m.plan.id }}{% if m.is_popular %} is-popular{% endif %}\
						{% if m.name in user_membership_levels %} is-own{% endif %}")

					.l-table-cell.m-level
						strong.m-name
							| {% if m.name in user_membership_levels %}#[i.fa.fa-heart]{% endif %}
							| {{ m.name | upper }}
						.m-price {{ plan_variation|pricing }}

						| {% if m.details_html %}
						small.pt-1 {{ m.details_html | safe }}
						| {% endif %}

					//- Image Cell
					.l-table-cell
						| {% if m.image %}
						img.bf-badge(src='{{m.image.url}}')
						| {% endif %}

					//- Name
					.l-table-cell
						| {% if 'display_name' in perks %}#[+checkmark]{% endif %}

					//- Link
					.l-table-cell
						| {% if 'url' in perks %}#[+checkmark]{% endif %}

					//- Logo
					.l-table-cell
						| {% if 'logo' in perks %}#[+checkmark]{% endif %}

			| {% endwith %}
			| {% endfor %}
			li
				a.l-table-row.is-corporate(href="/corporate-memberships")
					.l-table-cell.m-level
						strong.m-name CORPORATE
						span Learn more.

					.l-table-cell
						img.bf-badge(src="{% static 'images/badge_corporate.png' %}")
					.l-table-cell #[+checkmark]
					.l-table-cell #[+checkmark]
					.l-table-cell #[+checkmark]

		small.levels-notes.
			* Other pricing options available.
			Displaying your badge, name or company is opt-in.
			You control it being public or private.


#credits.credits.js-fade.py-4
	.container
		section.memberships
			a(href="#credits")
				h1.text-center Credits

			| {% if memberships.Patron %}
			#credits-patron.membership-level
				a.section-title(href="#credits-patron")
					h2.text-gradient Patron

				ul.patron
					| {% for m in memberships.Patron %}
					li {% membership_credit m %}
					| {% endfor %}
			| {% endif %}

			| {% if memberships.Corporate_Gold %}
			#credits-corporate-gold.membership-level
				a.section-title(href="#credits-corporate-gold")
					h2.text-gradient Corporate Gold

				ul.corporate-gold
					| {% for m in memberships.Corporate_Gold %}
					li {% membership_credit m %}
					| {% endfor %}
			| {% endif %}

			| {% if memberships.Corporate_Silver %}
			#credits-corporate-silver.membership-level
				a.section-title(href="#credits-corporate-silver")
					h2.text-gradient Corporate Silver

				ul.corporate-silver
					| {% for m in memberships.Corporate_Silver %}
					li {% membership_credit m %}
					| {% endfor %}
			| {% endif %}

			| {% if memberships.Corporate_Bronze %}
			#credits-corporate-bronze.membership-level
				a.section-title(href="#credits-corporate-bronze")
					h2.text-gradient Corporate Bronze

				ul.corporate-bronze
					| {% for m in memberships.Corporate_Bronze %}
					li {% membership_credit m %}
					| {% endfor %}
			| {% endif %}

			| {% if memberships.Diamond %}
			#credits-diamond.membership-level
				a.section-title(href="#credits-diamond")
					h2.text-gradient Diamond

				ul.diamond
					| {% for m in memberships.Diamond %}
					li {% membership_credit m %}
					| {% endfor %}
			| {% endif %}

			| {% if memberships.Titanium %}
			#credits-titanium.membership-level
				a.section-title(href="#credits-titanium")
					h2.text-gradient Titanium

				ul.titanium
					| {% for m in memberships.Titanium %}
					li {% membership_credit m %}
					| {% endfor %}
			| {% endif %}

			| {% if memberships.Platinum %}
			#credits-platinum.membership-level
				a.section-title(href="#credits-platinum")
					h2.text-gradient Platinum

				ul.platinum
					| {% for m in memberships.Platinum %}
					li {% membership_credit m %}
					| {% endfor %}
			| {% endif %}

			| {% if memberships.Gold %}
			#credits-gold.membership-level
				a.section-title(href="#credits-gold")
					h2.text-gradient Gold
				ul.gold
					| {% for m in memberships.Gold %}
					li {% membership_credit m %}
					| {% endfor %}
			| {% endif %}


.bg-light
	.container
		| {% wagtailuserbar 'bottom-left' %}
		.d-flex.p-3.align-items-center
			span.ml-auto.pr-3 Select Currency
			select#js-currency
				| {% if preferred_currency == 'EUR' %}
				option(data-currency="EUR", selected) Euro
				| {% else %}
				option(data-currency="EUR") Euro
				| {% endif %}
				| {% if preferred_currency == 'USD' %}
				option(data-currency="USD", selected) US Dollar
				| {% else %}
				option(data-currency="USD") US Dollar
				| {% endif %}

| {% endblock content %}

| {% block footer_scripts %}
script.
	$('#js-currency').on('change', function(){

		let currency = (this.options[this.selectedIndex].getAttribute('data-currency'));
		set_preferred_currency(currency);
	});

	var offsetTop = 280;
	var winHeight = $(window).height();

	window.onresize = function() {
	  winHeight = $(window).height();
	}

	$(window).scroll(function (event) {
	    var scroll = $(window).scrollTop();
	    var $div = $('.js-fade');
	    var diff = $div.offset().top - winHeight + offsetTop;

			var classVisible = 'is-visible';

			if (!$div.hasClass(classVisible)){
				$div.addClass(classVisible,
					scroll >= diff
				);
			}
	});

	$(window).resize();
	$(window).scroll();

	$('.js-count').each(function () {
		$(this).prop('Counter',1024).animate({
			Counter: $(this).text()
		}, {
			duration: 2000,
			easing: 'swing',
			step: function (now) {
				$(this).text(Math.ceil(now));
			}
		});
	});

	$('[data-toggle="popover"]').popover();

| {% endblock footer_scripts %}

templates/blender_fund/landing.html

{% extends "blender_fund/layout.html" %}
{% load membership_tags %}
{% load looper %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}

{% block page_header %}
    {% image page.header_image max-1920x1080 as header_image %}
    <div class="featured nav-hidden" style="background-image: url({{ header_image.url }})">
      <div class="container">
        <div class="featured-content">
          <h1>{{ page.title }}</h1>{% if page.tagline %}
          <div class="featured-subtitle">
            <p>{{ page.tagline }}</p>
          </div>{% endif %}
        </div>
      </div>
    </div>
    {% block nav_secondary %}
    {% include "blender_fund/_navbar_secondary.html" %}
    {% endblock nav_secondary %}

    {% block navbar_tertiary %}{% endblock navbar_tertiary %}
{% endblock page_header %}

{% block content %}
<div class="stats-container">
  <div class="stats-content">
    <div class="stats-intro">Join the Development Fund and support Krita Foundation to work on <a href="{% slugurl 'about' %}">Krita development</a>.</span></div>
    <div class="stats-items">
      <div class="stats-item stats-pos-top">
        <div class="stats-sum"><span class="currency-symbol">{{ summed_income.currency_symbol }}</span><span class="js-count">{{ summed_income.just_whole }}</span></div>
        <h5 class="stats-sum-name">MONTHLY INCOME</h5>
      </div>
      <div class="stats-item stats-pos-middle stats-size-small">
        <div class="stats-sum js-count">{{ memberships_per_category.INDIV }}</div>
        <h5 class="stats-sum-name">INDIVIDUALS</h5>
      </div>
      <div class="stats-item stats-pos-bottom stats-size-small">
        <div class="stats-sum js-count">{{ memberships_per_category.CORP }}</div>
        <h5 class="stats-sum-name">CORPORATE</h5>
      </div>
    </div>
  </div>
</div>{% if settings.SHOW_THERMOMETER %}
{% with progress_corporate=thermo_percentages.CORP progress_individual=thermo_percentages.INDIV %}
<div class="container">
  <div class="position-relative py-5">
    <div class="progress-container pt-5">
      <div class="progress-label current" style="left: {{ thermo_total_percentage }}%" title="Current Income">
        <div class="d-flex"><span class="d-block d-md-none"><strong>Current Income</strong></span>{{ summed_income.with_currency_symbol_rounded }} / month</div>
      </div>
    </div>
    <div class="progress bg-white position-relative">
      <div class="progress-bar bg-corporate" title="{{ memberships_per_category.CORP }} corporate members account for {{ progress_corporate }}% progress toward our Final Milestone" role="progressbar" style="width: {{ progress_corporate }}%" aria-valuenow="{{ progress_corporate }}" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-individual" title="{{ memberships_per_category.INDIV }} individual members account for {{ progress_individual }}% progress toward our Final Milestone" role="progressbar" style="width: {{ progress_individual }}%" aria-valuenow="{{ progress_individual }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress-container">
      <div class="d-flex align-items-center justify-content-between mb-5">
        <div class="d-flex justify-items-start"><small class="d-flex align-items-center">
            <div class="rounded-circle mr-2 bg-corporate progress-legend"></div><span>Corporate</span></small><small class="d-flex align-items-center p-3">
            <div class="rounded-circle mr-2 bg-individual progress-legend"></div><span>Individual</span></small></div><small class="d-none d-sm-block"><span>Read more about the <a href="{% slugurl 'about' %}">campaign and our goals</a>.</span></small>
      </div>
      <div class="progress-label final ml-auto" title="Final Milestone"><strong>{{settings.FUND_INCOME_TARGET_LABEL}}</strong> <span>{{currency_symbol}}&nbsp;{{thermo_high}}k / month</span></div>
    </div>
    <div class="container text-center campaign-message">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <p>
            Join {{ memberships_total_count }} people &amp; companies
            in the Development Fund and support <br/>
            Blender Foundation to work on <a href="{% slugurl 'about' %}">core Blender development</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>{% endwith %}
{% endif %}
<div class="levels" id="join">
    <div class="container pb-5">
        <h2 class="mt-5 pt-5">Choose Your Membership</h2>
        <table class="table">
            <thead class="l-table-header">
                <tr>
                    <td class="l-table-cell m-level"><span>LEVEL</span></td>
                    <td class="l-table-cell" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Show your badge in any Blender ID website, such as Blender Cloud, Blender Network, Blender Community."><span><span class="l-name">BADGE</span><i class="fa fa-question-circle"></i></span></td>
                    <td class="l-table-cell" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Display your (or your company) name."><span><span class="l-name">NAME</span><i class="fa fa-question-circle"></i></span></td>
                    <td class="l-table-cell" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Link your display name to a URL."><span><span class="l-name">LINK</span><i class="fa fa-question-circle"></i></span></tdv>
                    <td class="l-table-cell" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Display a logo."><span><span class="l-name">LOGO</span><i class="fa fa-question-circle"></i></span></td>
                </tr>
            </thead>
            <tbody>
                {% for m, plan_variation in membership_levels %}
                {% with perks=m.visible_attributes_set %}
                <a class="id-{{ m.plan.id }}{% if m.is_popular %} is-popular{% endif %}{% if m.name in user_membership_levels %} is-own{% endif %}" href="{% url 'looper:checkout_new' m.plan.id %}" title="Choose {{ m.name }} membership">
                    <tr>
                        <td>
                            <div class="l-table-cell m-level">
                                <strong class="m-name">
                                    {% if m.name in user_membership_levels %}
                                        <i class="fa fa-heart"></i>
                                    {% endif %}
                                    {{ m.name | upper }}
                                </strong>
                                <div class="m-price">{{ plan_variation|pricing }}</div>
                                {% if m.details_html %}<small class="pt-1">{{ m.details_html | safe }}</small>{% endif %}
                            </div>
                        </td>
                        <td>{% if m.image %}<img height="60" class="bf-badge" src="{{m.image.url}}"/>{% endif %}</td>
                        <td>
                            {% if 'display_name' in perks %}
                            <div class="checkmark">
                                <svg xmlns="http://www.w3.org/2000/svg" height="22" width="22">
                                    <path d="M 11,22 A 11,11 0 1 1 11,0 11,11 0 0 1 11,22 Z M 15.565,7.2421249 9.1217509,13.22475 6.6371255,10.790999 A 1.3753512,1.3753512 0 1 0 4.7121258,12.755875 L 8.1345014,16.10675 A 1.375,1.375 0 0 0 10.032,16.13287 l 7.403,-6.874999 a 1.375,1.375 0 1 0 -1.87,-2.0157509 z"></path>
                                </svg>
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if 'url' in perks %}
                            <div class="checkmark">
                              <svg xmlns="http://www.w3.org/2000/svg" height="22" width="22">
                                <path d="M 11,22 A 11,11 0 1 1 11,0 11,11 0 0 1 11,22 Z M 15.565,7.2421249 9.1217509,13.22475 6.6371255,10.790999 A 1.3753512,1.3753512 0 1 0 4.7121258,12.755875 L 8.1345014,16.10675 A 1.375,1.375 0 0 0 10.032,16.13287 l 7.403,-6.874999 a 1.375,1.375 0 1 0 -1.87,-2.0157509 z"></path>
                              </svg>
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if 'logo' in perks %}
                            <div class="checkmark">
                              <svg xmlns="http://www.w3.org/2000/svg" height="22" width="22">
                                <path d="M 11,22 A 11,11 0 1 1 11,0 11,11 0 0 1 11,22 Z M 15.565,7.2421249 9.1217509,13.22475 6.6371255,10.790999 A 1.3753512,1.3753512 0 1 0 4.7121258,12.755875 L 8.1345014,16.10675 A 1.375,1.375 0 0 0 10.032,16.13287 l 7.403,-6.874999 a 1.375,1.375 0 1 0 -1.87,-2.0157509 z"></path>
                              </svg>
                            </div>
                            {% endif %}
                        </td>
                    </a>
                </tr>
                {% endwith %}
                {% endfor %}
            </tbody>
            <tfoot>
                <a href="/corporate-memberships">
                    <tr>
                        <td class="m-level"><strong class="m-name">CORPORATE</strong><span>Learn more.</span></td>
                        <td><img class="bf-badge" height="60" src="{% static 'images/badge_corporate.png' %}"/></td>
                        <td>
                            <div class="checkmark">
                              <svg xmlns="http://www.w3.org/2000/svg" height="22" width="22">
                                <path d="M 11,22 A 11,11 0 1 1 11,0 11,11 0 0 1 11,22 Z M 15.565,7.2421249 9.1217509,13.22475 6.6371255,10.790999 A 1.3753512,1.3753512 0 1 0 4.7121258,12.755875 L 8.1345014,16.10675 A 1.375,1.375 0 0 0 10.032,16.13287 l 7.403,-6.874999 a 1.375,1.375 0 1 0 -1.87,-2.0157509 z"></path>
                              </svg>
                            </div>
                        </td>
                        <td>
                            <div class="checkmark">
                                <svg xmlns="http://www.w3.org/2000/svg" height="22" width="22">
                                    <path d="M 11,22 A 11,11 0 1 1 11,0 11,11 0 0 1 11,22 Z M 15.565,7.2421249 9.1217509,13.22475 6.6371255,10.790999 A 1.3753512,1.3753512 0 1 0 4.7121258,12.755875 L 8.1345014,16.10675 A 1.375,1.375 0 0 0 10.032,16.13287 l 7.403,-6.874999 a 1.375,1.375 0 1 0 -1.87,-2.0157509 z"></path>
                                </svg>
                            </div>
                        </td>
                        <td>
                            <div class="checkmark">
                                <svg xmlns="http://www.w3.org/2000/svg" height="22" width="22">
                                  <path d="M 11,22 A 11,11 0 1 1 11,0 11,11 0 0 1 11,22 Z M 15.565,7.2421249 9.1217509,13.22475 6.6371255,10.790999 A 1.3753512,1.3753512 0 1 0 4.7121258,12.755875 L 8.1345014,16.10675 A 1.375,1.375 0 0 0 10.032,16.13287 l 7.403,-6.874999 a 1.375,1.375 0 1 0 -1.87,-2.0157509 z"></path>
                                </svg>
                            </div>
                        </td>
                    </tr>
                </a>
            </tfoot>
        <table>
        <small class="levels-notes">
          * Other pricing options available.
          Displaying your badge, name or company is opt-in.
          You control it being public or private.
        </small>
    </div>
</div>
<div class="credits js-fade py-4" id="credits">
  <div class="container">
    <section class="memberships"><a href="#credits">
        <h1 class="text-center">Credits</h1></a>{% if memberships.Patron %}
      <div class="membership-level" id="credits-patron"><a class="section-title" href="#credits-patron">
          <h2 class="text-gradient">Patron</h2></a>
        <ul class="patron">{% for m in memberships.Patron %}
          <li>{% membership_credit m %}</li>{% endfor %}
        </ul>
      </div>{% endif %}
      {% if memberships.Corporate_Gold %}
      <div class="membership-level" id="credits-corporate-gold"><a class="section-title" href="#credits-corporate-gold">
          <h2 class="text-gradient">Corporate Gold</h2></a>
        <ul class="corporate-gold">{% for m in memberships.Corporate_Gold %}
          <li>{% membership_credit m %}</li>{% endfor %}
        </ul>
      </div>{% endif %}
      {% if memberships.Corporate_Silver %}
      <div class="membership-level" id="credits-corporate-silver"><a class="section-title" href="#credits-corporate-silver">
          <h2 class="text-gradient">Corporate Silver</h2></a>
        <ul class="corporate-silver">{% for m in memberships.Corporate_Silver %}
          <li>{% membership_credit m %}</li>{% endfor %}
        </ul>
      </div>{% endif %}
      {% if memberships.Corporate_Bronze %}
      <div class="membership-level" id="credits-corporate-bronze"><a class="section-title" href="#credits-corporate-bronze">
          <h2 class="text-gradient">Corporate Bronze</h2></a>
        <ul class="corporate-bronze">{% for m in memberships.Corporate_Bronze %}
          <li>{% membership_credit m %}</li>{% endfor %}
        </ul>
      </div>{% endif %}
      {% if memberships.Diamond %}
      <div class="membership-level" id="credits-diamond"><a class="section-title" href="#credits-diamond">
          <h2 class="text-gradient">Diamond</h2></a>
        <ul class="diamond">{% for m in memberships.Diamond %}
          <li>{% membership_credit m %}</li>{% endfor %}
        </ul>
      </div>{% endif %}
      {% if memberships.Titanium %}
      <div class="membership-level" id="credits-titanium"><a class="section-title" href="#credits-titanium">
          <h2 class="text-gradient">Titanium</h2></a>
        <ul class="titanium">{% for m in memberships.Titanium %}
          <li>{% membership_credit m %}</li>{% endfor %}
        </ul>
      </div>{% endif %}
      {% if memberships.Platinum %}
      <div class="membership-level" id="credits-platinum"><a class="section-title" href="#credits-platinum">
          <h2 class="text-gradient">Platinum</h2></a>
        <ul class="platinum">{% for m in memberships.Platinum %}
          <li>{% membership_credit m %}</li>{% endfor %}
        </ul>
      </div>{% endif %}
      {% if memberships.Gold %}
      <div class="membership-level" id="credits-gold"><a class="section-title" href="#credits-gold">
          <h2 class="text-gradient">Gold</h2></a>
        <ul class="gold">{% for m in memberships.Gold %}
          <li>{% membership_credit m %}</li>{% endfor %}
        </ul>
      </div>{% endif %}
    </section>
  </div>
</div>
<div class="bg-light">
  <div class="container">{% wagtailuserbar 'bottom-left' %}
    <div class="d-flex p-3 align-items-center"><span class="ml-auto pr-3">Select Currency</span>
      <select id="js-currency">{% if preferred_currency == 'EUR' %}
        <option data-currency="EUR" selected="selected">Euro</option>{% else %}
        <option data-currency="EUR">Euro</option>{% endif %}
        {% if preferred_currency == 'USD' %}
        <option data-currency="USD" selected="selected">US Dollar</option>{% else %}
        <option data-currency="USD">US Dollar</option>{% endif %}
      </select>
    </div>
  </div>
</div>{% endblock content %}
{% block footer_scripts %}
<script>
  $('#js-currency').on('change', function(){
  
  	let currency = (this.options[this.selectedIndex].getAttribute('data-currency'));
  	set_preferred_currency(currency);
  });
  
  var offsetTop = 280;
  var winHeight = $(window).height();
  
  window.onresize = function() {
    winHeight = $(window).height();
  }
  
  $(window).scroll(function (event) {
      var scroll = $(window).scrollTop();
      var $div = $('.js-fade');
      var diff = $div.offset().top - winHeight + offsetTop;
  
  		var classVisible = 'is-visible';
  
  		if (!$div.hasClass(classVisible)){
  			$div.addClass(classVisible,
  				scroll >= diff
  			);
  		}
  });
  
  $(window).resize();
  $(window).scroll();
  
  $('.js-count').each(function () {
  	$(this).prop('Counter',1024).animate({
  		Counter: $(this).text()
  	}, {
  		duration: 2000,
  		easing: 'swing',
  		step: function (now) {
  			$(this).text(Math.ceil(now));
  		}
  	});
  });
  
  $('[data-toggle="popover"]').popover();
  
</script>{% endblock footer_scripts %}
